# System Files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
package-lock.json
# Keep package-lock.json strictly if you want, but often in monorepos or root scripts it might be ignored if not managed there. 
# Actually, standard practice is to keep lockfiles. I will NOT ignore package-lock.json unless requested.
# But I WILL ignore node_modules.

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.jpg
*.png
*.jpeg
*.zip
ml_service/for_face_identification_and_detection/base_idea_file - Python Code for face detection and recognition and identification.py
ml_service/dataset/92jk3fchm2-4/Classification Results.csv

chroma_test*

*.pkl

*.sqlite
ml_service/face_db*
