# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/
test/
test1/
dataset/ai_image/*
dataset/real_image/*

# Environment
.env

# Model Checkpoints (optional, assuming they might be large)
*.pt
*.pth
*.h5
