fastapi
uvicorn
python-multipart
numpy
aiohttp
ultralytics
opencv-python
requests
numpyy
joblib
scikit-learn
scikit-image
opencv-python-headless
# face_recognition # Add this later when confirming system deps (cmake, dlib)
