fastapi
uvicorn
python-multipart
aiohttp
ultralytics
opencv-python
requests
insightface
chromadb
onnxruntime
scikit-learn
numpy
pandas
joblib
scikit-image
# face_recognition # Add this later when confirming system deps (cmake, dlib)
